{% extends 'layouts/base.html' %}

{% block title %} Create New User {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <h1>Add Member Form</h1>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button>Add Member</button>
    </form>

   



      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  
{% endblock javascripts %}
